body
{
background:;
}
.main
{
height:1000px;
width:100%;
background:
margin:00px auto;

}

.constant
{
height:1600px;
width:100%;
background:;

}
.left
{
height:1600px;
width:10%;
background:;
float:left;

}
.center
{
height:1600px;
width:80%;
background:url(dharmshala/wood.jpg);
float:left;
}
.right
{
height:1600px;
width:10%;
background:
float:left;
}


