
body
{

}
main
{
height:1240px;
width:100%;
background:;
margin:auto;
border:;
}
.header
{
height:300px;
width:100%;
background:#FFFFFF;
}
.menu
{
height:40px;
width:100%;
background:#000099;
}
table
{
height:40px;
width:100%;
}
table th
{
color:;
background;
}
th:hover
{
color:#0000FF;
background:#00FFFF;
}
.constant
{
height:300px;
width:100%;
background:#000000;
}
.left
{
height:300px;
width:30%;
background:;
float:left;
}
.center
{
height:300px;
width:40%;
background:#FF0000;
float:left;
}
.right
{
height:300px;
width:30%;
background:#009900;
float:left;
}
.footer
{
height:600px;
width:100%;
background:#000000;
}