<body>
{
}
.main
{height:1060px;
width:100%;
background:#ED1285;
margin:oopx auto;
border:20px solid:
}
.menu
{ height:60px;
width:100%;
}
.constant
{ height:1000px;
width:100%;
}
.left
{
height:1000px;
width:50%;
float:left;
}
.right
{
height:1000px;
width:50%;
float:left;
}